.topnav a {
    float: left;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px;
    color: black;
    font-family: arial,sans-serif;
    font-size: 14px;
 }

.topnav a:hover {
    text-decoration: underline;
}

.topnav-right {
    float: right;
}

.topnav {
    overflow: hidden;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 25vh;
}