.topnav a {
    float: left;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px;
    color: black;
    font-family: arial,sans-serif;
    font-size: 14px;
 }

.topnav a:hover {
    text-decoration: underline;
}

.topnav-right {
    float: right;
}

.topnav {
    overflow: hidden;
}

.logo-img {
  display: block;
  padding-top: 30vh;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 90px;
}

form {
    text-align: center;
    padding-top: 20px;
}

input {
    color: rgba(0,0,0,.87);
    width: 600px;
    padding: 15px;
    border-radius: 50px;
    border: 1px solid #dcdcdc;
    outline-color: none;
    cursor: text;
    background-color: transparent;
    z-index: -1;
}

input:focus {
    outline: none;
}

input:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.voice {
    height:20px;
    top: 5px;
    left: 10px;  
    position: absolute;
    margin-right: 30px;
}

.search-icon {
    color: rgb(154, 160, 166);
    position: absolute;
    z-index: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}